{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="mt-2 text-center"> Notre Librairie </h1>
<h2 class="mt-3"> Nos auteurs</h2>
{% for auteur in auteurs %}
     <div class="card mt-3" style="width: 18rem;">
        <img src="{{asset('images/auteurs/' ~ auteur.photo) }}" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">{{ auteur.nom }} {{ auteur.prenom }}</h5>
        </div>
    </div>  
{% endfor %}
<h2 class="mt-3"> Nos Catégories de livres </h2>
{% for categorie in categories %}
    <h4><a href="{{ path('app_categorie_show', {'id': categorie.id})}}">{{ categorie.titre }}</a></h4>
    <p>{{ categorie.description}}</p>
{% endfor %}

<h2 class="mt-3"> Nos livres </h2>
{% for livre in livres %}
<div class="card mt-3" style="width: 18rem;">
        <img src="{{asset('images/livres/' ~ livre.image) }}" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">{{ livre.titre }}</h5>
        </div>
    </div>  
{% endfor %}
{% endblock %}
