{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
    <h1>Auteur index</h1>

        {% for auteur in auteurs %}
        
            <div class="card" style="width: 18rem;">
  <img src="{{asset('images/auteurs/' ~ auteur.photo) }}" alt="">
  <div class="card-body">
    <h5 class="card-title text-center">{{ auteur.nom }} {{ auteur.prenom }}</h5>
    <a href="{{ path('app_auteur_show', {'id': auteur.id}) }}" class="btn btn-primary m-auto">Voir la fiche</a>
  </div>
</div>
        {% else %}
            <tr>
                <td colspan="7">Aucun auteur trouvé</td>
            </tr>
        {% endfor %}

    <a href="{{ path('app_auteur_new') }}">Ajouter un auteur</a>
{% endblock %}
