{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ auteur.prenom }}</td>
            </tr>
            <tr>
                <th>Naissance</th>
                <td>{{ auteur.naissance ? auteur.naissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{asset('images/auteurs/' ~ auteur.photo) }}" alt=""></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ auteur.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_auteur_index') }}">Retour à la liste </a>

    <a href="{{ path('app_auteur_edit', {'id': auteur.id}) }}">Modifier</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
